<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Recommender</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
	<link href="../static/css/style.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

	<div class="container">
		<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="../static/img/t4.jpg">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="../static/img/aqsa.jpg" alt="Logo" class="tm-site-logo" />
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">E-commerce Website</h1>
								<h6 class="tm-site-description">Collaborative Product Recommendation Engine</h6>
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="/" class="tm-nav-link active">Home</a></li>
								<li class="tm-nav-li"><a href="/recommend" class="tm-nav-link active">Explore</a></li>
								<li class="tm-nav-li"><a href="about" class="tm-nav-link">About</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>




		<main>
			<header class="row tm-welcome-section" style="margin-left: 14rem;">
				<h2 class="col-12 text-center tm-section-title">Welcome to AQSA CHIKAN ARTS</h2>
				<p class="col-12 text-center">Please select upto one item and click on 'Add' to display the recommended
					products. Happy shopping!</p>
			</header>


			<!-- gallery page 1 -->

			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-kitchen" class="tm-gallery-page">

                    {% for i in range(product|length) %}
					
					<div class="card" style="width: 14rem; margin-bottom: 20px; margin-right: 55px; ">
						<img class="card-img-top" src="{{image[i]}}" alt="Card image cap" style="max-height: 260px; object-fit: fill;">
						<div class="card-body" style="max-height: fit-content;">
						  <h5 class="card-title">{{product[i]}}</h5>
						  <p class="card-text">{{rating[i]}}</p>
						  <p class="card-text">{{price[i]}}</p>
						  <form action="/recommend_kurtis" method="post">
							<input type="text" name="user_input" value={{product[i]}} style="display:none"/>
							<button type="submit" >See more</button>
						  </form>
						  <!-- <a href="#" class="btn btn-primary" style="background-color: #37b85e; padding-left: 17px; padding-right: 17px; text-align: center;">See more</a> -->
						</div>
					  </div>
					

					<!-- <article class="col-lg-4 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{image[i]}}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title text-center">{{product[i]}}</h4>
								<p class="tm-gallery-description">{{rating[i]}}</p>
								<p class="tm-gallery-price">{{price[i]}} <button type="button" class="tm-btn tm-btn-success tm-add" >Add</button></p>
							</figcaption>
						</figure>
					</article> -->
                    {% endfor %}
				</div> <!-- gallery page 1 -->
			</div>

			

			
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-kitchen" class="tm-gallery-page">
			{% if data %}
			{% for i in data %}
			<!-- Gallery -->
			<!-- <div class="row tm-gallery"> -->
				<!-- gallery page 1 -->
				<!-- <div id="tm-gallery-page-kitchen" class="tm-gallery-page"> -->
					<!-- <article class="col-lg-4 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{i[1]}}" />
							<figcaption>
								<h4 class="tm-gallery-title text-center">{{i[0]}}</h4>
								<p class="tm-gallery-price">{{i[2]}} <button type="button"
										class="tm-btn tm-btn-success tm-add">Add</button></p>
							</figcaption>
						</figure>
					</article>
				</div>
			</div> -->

			<div class="card" style="width: 14rem; margin-bottom: 20px; margin-right: 55px; ">
				<img class="card-img-top" src="{{i[1]}}" alt="Card image cap" style="max-height: 260px; object-fit: fill;">
				<div class="card-body" style="max-height: fit-content;">
				  <h5 class="card-title">{{i[0]}}</h5>
				  <p class="card-text">{{i[2]}}</p>
				  <form action="/recommend_kurtis" method="post">
					<input type="text" name="user_input" value={{i[0]}} style="display:none"/>
					<button type="submit" class="tm-btn tm-btn-success">See more</button>
				  </form>
				  <!-- <a href="#" class="btn btn-primary" style="background-color: #37b85e; padding-left: 17px; padding-right: 17px; text-align: center;">See more</a> -->
				</div>
			  </div>

			{% endfor %}
			{% endif %}


		</main>

		<footer class="tm-footer text-center">
			<p>Made with &#10084;&#65039; by Group 18</a></p>
		</footer>
	</div>
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/parallax.min.js"></script>
</body>

</html>